<p id="notice"><%= notice %></p>

<h1>Listing News Items</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Sub header</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @news_items.each do |news_item| %>
      <a href="<%= news_item_path news_item%>" class="summary">
        <%= image_tag(news_item.image.thumbnail.url, :class => "thumbnail inline") %>
        <h2><%= news_item.title %></h2>
        <h3><%= news_item.sub_header %></h3>
      </a>
      <% end %>
      </tr>
  </tbody>
</table>

<br>

<%= link_to 'New News item', new_news_item_path %>
